# Results
results/
logs/
.dag/

# Large input data
data/genome/
data/CDS/
data/norbert_data
data/tutorial_data/output
resources/metadata/Main_Dataset.tsv

resources/containers/*.sif
resources/conda


# Snakemake
.snakemake/
*.snakemake.log

# Python
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/

# R
.Rhistory
.RData
.Rproj.user/

# OS/editor
.DS_Store
.vscode/

Zymoseptoria_casestudy/

scripts_suggestions/